<div class="container mt-4">
  <div class="card p-4 mb-2">
    <h4>Subscriptions</h4>
  </div>

<div class="d-flex justify-content-end align-items-start gap-2  mb-3">
  <div class="fs-4  align-self-center">Balance</div>
  <div class="card p-3" style="width: 18rem;">
    <div class="text-muted">
      <i class="bi bi-clock"></i> Validity : 15-07-2025
    </div>
    <div class="text-muted">
      <i class="bi bi-chat-left-text"></i> SMS : 850
    </div>
  </div>
</div>

  

  <div class="row">
  <div class="col-md-3 mb-3" *ngFor="let plan of plans">
    <div class="card shadow border-0 rounded-4">
      <div class="card-body text-start d-flex flex-column justify-content-between">
        <div>
          <h5>{{ plan.name }}</h5>
          <p class="text-muted" style="min-height: 4.5rem;">{{ plan.description }}</p>
        </div>
        <hr>
        <div>
          <h2>{{ plan.price }} TK</h2>
          <ul class="list-unstyled">
            <li>
              <i class="bi bi-check text-success"> </i>
              {{plan.features[0]}}
            </li>
            <li>
              <i [ngClass]="plan.sms > 0 ? 'bi bi-check text-success' : 'bi bi-x text-muted'"></i>
              {{plan.features[1]}}
            </li>
          </ul>
        </div>
        <button class="btn btn-primary w-100" (click)="openModal(plan)">BUY &nbsp;&nbsp;<i class="bi bi-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>


  
  





  <h5 class="mt-4">Subscription History</h5>
  <table class="table table-striped mt-2">
    <thead>
      <tr>
        <th>Plan</th><th>Amount</th><th>Payment Date</th><th>Expiry</th><th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let h of history">
        <td>{{h.planName}}</td>
        <td>{{h.amount}}</td>
        <td>{{h.paymentDate}}</td>
        <td>{{h.expiryDate}}</td>
        <td><span [class.text-success]="h.status==='Active'" [class.text-danger]="h.status==='Expired'">{{h.status}}</span></td>
      </tr>
    </tbody>
  </table>
</div>
